# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

.vscode

debug

harbor-compose
harbor-compose.yml
harbor-compose.yml.bak
docker-compose.yml
docker-compose.yml.bak
up.md
create.json
*.env
/dist
node_modules
.glide
build-debug.sh
package-lock.json
main.tf
hidden.env
.terraform
terraform.tfstate
terraform.tfstate.backup
Dockerfile.build